html
{
    font-size: 64.5%
}

body
{
    padding: 0;
    margin: 0;
    font-size: 1.6em;
    background-color: #bcf;
}

/* header
{
    display: flex;
    height: 5em;
}

header h1
{
    width: 80%;
    border: 2px solid white;
}

header aside
{
    width: 20%;
    border: 2px solid white;
} */

header
{
    display: grid;
    grid-template-columns:3fr 1fr;
    grid-auto-rows: 2em;
    
}

.header
{
    border: 3px solid #fff;
}

.ads
{
    border: 3px solid #fff;
}

nav
{
    display: grid;
    grid-template-columns: 2fr;
    grid-auto-rows: 6fr;
    border: 3px solid #fff;
}

article
{
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-auto-rows: 4fr;
    

}
.one
{
    grid-column: 1/2;
    grid-row: 1/3;
    border: 3px solid #fff;
}

.two
{
    grid-column: 2/2;
    grid-row: 1/3;
    border: 3px solid #fff;

}

.three
{
    grid-column: 1/2;
    grid-row: 2/3;
    border: 3px solid #fff;

}

.four
{
    grid-column: 2/2;
    grid-row: 2/3;
    border: 3px solid #fff;

}

.five
{
    grid-column: 1/2;
    grid-row: 3/3;
    border: 3px solid #fff;

}

.six
{
    grid-column: 2/2;
    grid-row: 3/3;
    border: 3px solid #fff;

}

