*
{
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
    height: 100%;
}

body
{
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #843175;
    color: #ffffcc;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header img
{
    height: 10rem;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg,#66265a, #f898e6 );
    box-shadow: 0 0.05rem rgba(204, 204, 204, 0.253);
    padding:0;
    
}

.header ul
{
    display: flex;
}

.header li
{
    list-style-type: none;
    text-transform: uppercase;
}

.header a
{
    text-decoration: none;
    color: #ff9900;
    padding: 0 1rem;
}

.lamp:hover
{
    font-size: 2rem;
}


.header a:hover
{
    color: #ffffcc;
    transition-duration: 1s;
}

.acceuil
{
    background-color: #8a3d7c;
    width: 75rem;
    margin: 0 auto;
}

.acceuil article
{
    text-align: justify;
    padding: 1rem;
}

.acceuil h1
{
    background: linear-gradient(0deg,#66265a, #f898e6 );
    box-shadow: 0 0.05rem rgba(204, 204, 204, 0.253);
    padding: 1rem;
}

.main
{
    display: flex;
    flex-direction: column;
    background-color: #8a3d7c;
    width: 75rem;
    height: 100%;
    margin: 0 auto 1rem auto;

    
}

.main h2
{
    
    background: linear-gradient(0deg,#66265a, #f898e6 );
    box-shadow: 0 0.05rem rgba(204, 204, 204, 0.253);
    padding: 1rem;
}

.main article
{
    text-align: justify;
    margin-bottom: auto;
    padding: 1rem;

}

.footer
{
    background-color: #8a3d7c;
    height: 5rem;
    text-align: center;
    margin-top: auto;
    padding-top: 0.7rem;
}