*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body{
    font-size: 1.6em;
    font-family: "Roboto", sans-serif
}

table{
    border: solid 1px #E7E7E7;
    /* border-collapse: collapse; */
    background-color: #fff9;
}

thead{
    color: #5C5C5C;
}

td, th{
    border: solid 1px #E7E7E7;
    padding: 0.5rem 2rem;
}

tbody td:first-child{
    text-align: center;
}

tbody td:nth-child(5){
    text-align: center;
}

tfoot td{
    padding: 1rem 2rem;
    font-weight: bold;
}

tfoot td:first-child{
    text-align: center;
}

button{
    margin: 0.1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
}

button #sort{
    border : 1px solid #5C5C5C
}
