*
{
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body
{
    font-size: 1.6em;
    font-family: calibri, sans-serif;
    margin: 0;
}

.header
{
    background-color: brown;
    color: #fff;
    height: 20rem;
    display: flex;
    justify-content: space-between;
}

.header-section1 div:first-child
{
    font-size: 3rem;
    padding: 1rem 1rem 2rem 1rem;
}

.header-section1 div:nth-child(2)
{
    width: 50rem;
}

.header-section1 img
{
    width: 4rem;
    margin: 0.5rem 3rem;
}

.header-section3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.profil img
{
    height: 20rem;
    border-radius: 50%;
}

main
{
    display: flex;
}

.main-section1
{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-section1 div:nth-child(1),
.main-section1 div:nth-child(2)
{
    width: 50%;
    padding: 1rem;
    border: 3px solid orange;
}

.main-section1 div:nth-child(3)
{
    width: 100%;
    padding: 1rem;
    background-color: yellow;
}

.main-section1 div:nth-child(3) h3
{
    margin-bottom: -10px;
}

.main-section2
{
    width: 50%;
    padding: 1rem;
}

.main-section2 h1
{
    border-bottom: 3px solid orange;
}

.transform
{
    text-transform: uppercase;
}

.weight
{
    font-weight: bold;
}

.align
{
    text-align: center;
}

.style
{
    font-style: italic;
}

.justify
{
    text-align: justify;
}

.color
{
    color: brown;
}

@media (max-width: 460px)
{
    .header
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .header-section1 div:nth-child(2)
    {
        display: none;
    }

    .header-section1,
    .header-section3
    {
        text-align: center;
    }

    main
    {
        flex-direction: column;
    }

    .main-section1
    {
        width: 100%;
    }

    .main-section1 div:nth-child(1),
    .main-section1 div:nth-child(2)
    {
        width: 100%;
        padding: 1rem;
        border: none
    }

    .main-section2
    {
        width: 100%;
    }

    .framework
    {
        margin-bottom: -3rem;
    }

    .methods-tools
    {
        margin-top: -3rem;
    }
}