*
{
    box-sizing: border-box;
}

html
{
    font-size: 62.5%
}

body
{
    padding: 0;
    margin: 0;
    font-size: 1.6em;
    background-color: #bcf;
}

.div1
{
    border: 3px solid #fff;
}

.wrapper
{
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
    grid-template-rows: 6rem 1fr 6rem;
    grid-template-areas:    "H H A" 
                            "N M M" 
                            "N F F";
}

.header
{
    grid-area: H;
}

.ads
{
    grid-area: A;
}

.nav
{
    grid-area: N;
}

.article
{
    grid-area: M;
}

.footer
{
    grid-area: F;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
}

section
{
    width: 45%;
    text-align: justify;
    margin: 0.2rem;
    padding: 0.4rem;
    background-color: #fff;
}

.border
{
    border: 3px solid #fff;
}

@media (min-width: 640px) and (max-width: 960px)
{
    .container
    {
        flex-direction: column;
        margin-left: 5rem;
    }

    section
    {
        width: 100%;
    }

}

@media (max-width: 640px)
{
    .container
    {
        flex-direction: column;
    }

    section 
    {
        width: 100%;
    }

    nav ul li
    {
        display: inline-block;
    }

    .wrapper
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:    "H" "A" "N" "M" "F";
    }
}